/* cascade style sheet file of Berlin */
/* common element*/
* {
  color: aliceblue;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* Font section (Vazir) */
@font-face {
  font-family: vazir-regular;
  src: url("../fonts/Vazir-Regular-UI.ttf") format("truetype");
  src: url("../fonts/Vazir-Regular-UI.eot") format("eot");
  src: url("../fonts/Vazir-Regular-UI.woff") format("woff");
  src: url("../fonts/Vazir-Regular-UI.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
/* Bold Section */
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold-UI.ttf") format("truetype");
  src: url("../fonts/Vazir-Bold-UI.eot") format("eot");
  src: url("../fonts/Vazir-Bold-UI.woff") format("woff");
  src: url("../fonts/Vazir-Bold-UI.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
/* END OF FONT SECTION!!! */
/* body and background section */
body {
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background: rgb(177, 147, 203);
  background: linear-gradient(
    291deg,
    rgba(177, 147, 203, 1) 27%,
    rgba(96, 228, 222, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  font-family: vazir-regular;
}
/* start of nav section */
nav {
  width: 100%;
  height: 80px;
}
/* img logo seciton */
.logo {
  width: 90px;
  height: 80px;
  float: right;
  margin-right: 10px;
}
nav ul {
  float: right;
  margin-right: 50px;
  line-height: 80px;
}
nav ul li {
  display: inline-block;
  font-size: 20px;
  padding-right: 20px;
}
/* a active &hover section */
a:active,
a:hover {
  color: gold;
  transition: 0.5;
}
.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 80px;
  float: left;
  margin-left: 40px;
  cursor: pointer;
  display: none;
}
/* check input section (responsive) */
#check {
  display: none;
}
/* media query for menu */
@media screen and (max-width: 952px) {
  .logo {
    width: 120px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 750px) {
  .logo {
    width: 100px;
    height: 80px;
    float: right;
    position: fixed;
    right: 0;
  }
  .checkbtn {
    display: block;
    position: fixed;
    float: right;
    margin-right: 110px;
    margin-top: 2px;
    margin-left: 20px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: slateblue;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:active,
  a:hover {
    background: none;
    color: gold;
  }
  #check:checked ~ ul {
    left: 0;
  }
  /*login section img and link! */
  .login {
    display: inline-flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 230px;
    z-index: -1;
  }

  .login-txt {
    background-color: #6ed6db;
    width: 115px;
    height: 30px;
    border-radius: 9px;
    position: fixed;
    padding-top: 2px;
    left: 0;
    margin-top: 27px;
    margin-left: 5px;
    font-size: 18px;
    text-align: center;
  }
  /* container section */
  .container {
    display: grid;
    width: 100%;
    height: 87%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(250px, auto);
  }
  .container p {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    padding-right: 10px;
    font-size: 2rem;
  }
  /* name section (orange box!) */
  .name {
    width: 50%;
    height: 30%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    margin-top: 150px;
    justify-items: center;
  }
  .name p {
    background-color: #da9a5c;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 7px;
  }
  /* left text sction (hastam) */
  .left-text {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: flex-end;
    align-self: flex-end;
  }
  .left-text p {
    font-size: 30px;
    padding-bottom: 25px;
    padding-left: 20px;
  }
  /* face section */
  .face {
    display: grid;
    width: 50%;
    height: 50%;
    grid-column: 1/2;
    grid-row: 2/3;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-items: end;
    align-items: flex-end;
    z-index: -1;
  }
  .face img {
    width: 100%;
    height: 75%;
    max-width: 280px;
    max-height: 200px;
  }
  /* my resume seciton */
  .my-resume {
    display: flex;
    width: 40%;
    height: 100%;
    grid-row: 2/3;
    align-self: center;
    padding-right: 1rem;
    text-align: center;
  }
  .my-resume a {
    width: 100%;
    height: 15%;
    border-radius: 7px;
    font-size: 1.8rem;
    align-self: center;
    background-color: slateblue;
    padding-bottom: 5px;
  }
}
/* tablet size media seciton */
@media screen and (max-width: 1023px) {
  .logo {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
  }
  .checkbtn {
    display: none;
  }
  nav ul {
    margin-right: 80px;
  }
  nav ul li a {
    font-size: 0.8rem;
  }
  .login{
    display: inline-flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    z-index: -1;
  }
  .login-txt{
    background-color:#6ed6db ;
    font-size: 14px;
    position: fixed;
    left: 0;
    margin-top: 30px;
    margin-left: 30px;
    width: 120px;
    height: 25px;
    text-align: center;
    padding-top: 2.5px;
    border-radius:9px ;
  }
 
}
@media screen and (min-width: 1024px) {
  .login-signup {
    display: none;
  }
  .login {
    font-size: 22px;
    display: inline-flex;
    width: 450px;
    height: 450px;
    position: fixed;
    left: 0;
    top: 0;
  }
  .login-txt {
    position: fixed;
    left: 0;
    margin-left: 80px;
    margin-top: 30px;
    background-color: #6ed6db;
    width: 120px;
    height: 35px;
    border-radius: 9px;
    text-align: center;
    align-content: center;
  }
}
