/* cascade style sheet file of Berlin */
/* common element*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Font section (Vazir) */
@font-face {
  font-family: vazir-regular;
  src: url("../fonts/Vazir-Regular-UI.ttf") format("truetype");
  src: url("../fonts/Vazir-Regular-UI.eot") format("eot");
  src: url("../fonts/Vazir-Regular-UI.woff") format("woff");
  src: url("../fonts/Vazir-Regular-UI.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
/* Bold Section */
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/Vazir-Bold-UI.ttf") format("truetype");
  src: url("../fonts/Vazir-Bold-UI.eot") format("eot");
  src: url("../fonts/Vazir-Bold-UI.woff") format("woff");
  src: url("../fonts/Vazir-Bold-UI.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
/* END OF FONT SECTION!!! */
/* body and background section */
body {
  direction: rtl;
  background: rgb(177, 147, 203);
  background: linear-gradient(
    291deg,
    rgba(177, 147, 203, 1) 27%,
    rgba(96, 228, 222, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* end of body section */
/* a common element */
a {
    text-decoration: none;
}
a:hover{
    color: gold;
}
/* left corner image */
.login-img{
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
}
/* nav seciton */
.navbar{
   display: flex;
   margin: 0 auto;
   align-items: center;
   justify-content: flex-start;
   column-gap: 30px;
}
/* logo section */
.logo{
    width: 91px;
    height: 78px;
}
.nav{
    list-style:none;
    display: inline-block;
}
.nav-item{
    display: inline-block;
    font-family: vazir-regular;
    font-size: 18px;
    margin-right: 30px;

}
/* fitst child font size increment */
.nav-item:nth-child(1){
font-size:20px;
}
.nav-link{
    color: aliceblue;
}
/* loggin links div section */
.login-links{
    display: flex;
    position: fixed;
    left: 0;
    align-items: center;
}
/* loggin links a tag */
.login-btn{
    list-style: none;
    font-family: vazir-regular;
    font-size: 22px;
    color:aliceblue;
    margin-left: 100px;
    margin-top: 15px;
}